<%- include('includes/head'); %>
  <%- include('includes/navbar'); %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">

          <div class="container" id="div400px">
            <%- include('includes/messages'); %>
          </div>

          <h1 class="text-center">Access your account</h1>
          <div class="container" id="div400px">
            <div class="row">
              <div class="col-lg">
                <h4>Log in</h4>
                <p>If you already have an account, please log in below.</p>

                <form class="form-login" action="/login" method="POST">
                  <input type="hidden" name="_csrf" value=<%=csrfToken %>>
                  <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" class="form-control" name="email">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                  </div>
                  <button type="submit" class="btn btn-primary mt-3">Access account</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>


    <%- include('includes/footer'); %>